@import url("https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css");

@tailwind base;

/* ANCHOR: fonts */
.font-sm {
    @apply font-nanummyeongjo text-sm;
}

.font-xl {
    @apply font-nanummyeongjo text-xl;
}

body {
    @apply font-sm;
}

input:focus,
button:focus {
    outline: none;
}

@tailwind components;

/* ANCHOR: global */
.min-h-screen {
    min-height: 100vh;
}

.thumbnail-0,
.thumbnail-1,
.thumbnail-2,
.thumbnail-3 {
    @apply w-56 h-56 object-cover object-center;
    mask-repeat: no-repeat;
    mask-position: center;
}
.thumbnail-0 {
    mask-image: url("../public/mask1.svg");
}
.thumbnail-1 {
    mask-image: url("../public/mask2.svg");
}
.thumbnail-2 {
    mask-image: url("../public/mask3.svg");
}
.thumbnail-3 {
    mask-image: url("../public/mask4.svg");
}

/* ANCHOR: home */
.search-bar {
    @apply mt-5 w-full h-16 border border-black p-4 pl-12 bg-transparent bg-no-repeat;
    background-image: url("../public/ico-search.png");
    background-position: left 25px top 50%;
    background-size: 11px 11px;
}

.nav-bar {
    @apply mt-20 mx-25 flex justify-between items-center;
}
@screen sm {
    .nav-bar {
        @apply mx-auto;
        width: 680px;
    }
}

/* ANCHOR: loading */
.loading-container {
    @apply h-screen flex justify-center items-center;
    min-width: 520px;
}

@tailwind utilities;
