@import url("https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css");

@tailwind base;

/* ANCHOR: fonts */
.font-xs {
    @apply font-nanummyeongjo text-xs;
}

.font-lg {
    @apply font-nanummyeongjo text-lg;
}

.font-base {
    @apply font-nanummyeongjo text-base;
}

body {
    @apply font-xs;
}

input:focus,
button:focus {
    outline: none;
}

@tailwind components;

/* ANCHOR: global */
.min-h-screen {
    min-height: 100vh;
}

.thumbnail-0,
.thumbnail-1,
.thumbnail-2,
.thumbnail-3 {
    @apply w-39 h-40 mx-auto object-cover object-center;
    mask-repeat: no-repeat;
    mask-position: center;
}
.thumbnail-0 {
    mask-image: url("../public/mask1.svg");
}
.thumbnail-1 {
    mask-image: url("../public/mask2.svg");
}
.thumbnail-2 {
    mask-image: url("../public/mask3.svg");
}
.thumbnail-3 {
    mask-image: url("../public/mask4.svg");
}
.article-card-list {
    @apply mt-10 grid grid-cols-4 mx-32 gap-x-4 gap-y-12 pb-16;
}
@screen sm {
    .article-card-list {
        @apply grid-cols-2 mx-12;
    }
}

/* ANCHOR: home */
.search-bar {
    @apply mt-4 w-full h-12 border border-black p-4 pl-10 bg-transparent bg-no-repeat;
    background-image: url("../public/ico-search.png");
    background-position: left 18.75px top 50%;
    background-size: 8.25px 8.25px;
}

.nav-bar {
    @apply mt-16 mx-20 flex justify-between items-center;
}
@screen sm {
    .nav-bar {
        @apply mx-auto;
        width: 680px;
        min-width: 480px;
    }
}

.icon {
    width: 8.25px;
    height: 8.25px;
}

/* ANCHOR: loading */
.loading-container {
    @apply h-screen flex justify-center items-center;
    min-width: 520px;
}

@tailwind utilities;
