@import url("https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css");

@tailwind base;

/* ANCHOR: fonts */
.font-sm {
    @apply font-nanummyeongjo text-sm;
}

.font-xl {
    @apply font-nanummyeongjo text-xl;
}

@tailwind components;

.thumbnail-0,
.thumbnail-1,
.thumbnail-2,
.thumbnail-3 {
    @apply w-56 h-56 object-cover object-center;
    mask-repeat: no-repeat;
    mask-position: center;
}
.thumbnail-0 {
    mask-image: url("../public/mask1.svg");
}
.thumbnail-1 {
    mask-image: url("../public/mask2.svg");
}
.thumbnail-2 {
    mask-image: url("../public/mask3.svg");
}
.thumbnail-3 {
    mask-image: url("../public/mask4.svg");
}

@tailwind utilities;
